
.anyClass {
    height:700px;
    overflow-y: scroll;
}

.draggable1{
    cursor: grab;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bbbbbb;
}

.draggable1:hover {
    background-color: #42c3dd;
}

.draggable2{
    cursor: move;

}

svg#drop_area {
    /*background-image:url('w3css.gif');*/ /*Sera fait par Javascript*/
    background-repeat:no-repeat;
    /*background-size:cover;*/
    background-size:100% 100%;
}